<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<!--[ appender ]-->

	<!-- 標準出力 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy/MM/dd HH:mm:ss.SSS} %-5p %m [%C#%M]%n" />
		</layout>
	</appender>


	<!--[ category ]-->

	<!-- mayaa -->
	<category name="org.seasar.mayaa">
		<priority value="info" />
		<appender-ref ref="STDOUT" />
	</category>

	<!-- apache系(struts,commons etc...) -->
	<category name="org.apache">
		<priority value="fatal" />
		<appender-ref ref="STDOUT" />
	</category>

<!--
	<root>
		<priority value="fatal" />
		<appender-ref ref="STDOUT" />
	</root>
-->
</log4j:configuration>
