<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja" style="overflow:hidden;">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Content-Script-Type" content="text/javascript" />
	<title>${title}</title>
	<link rel="stylesheet" href="./css/import.css" type="text/css" media="screen, tv" />
  <link rel="icon" type="image/icon" href="./favicon.ico">  
	<script type="text/javascript" src="./js/prototype/prototype_1_6_1.js"></script>
	<script type="text/javascript" src="./js/animator.js"></script>
