	<script type="text/javascript">
	<!--
##	
##	画面共通Javascript
##	
##	[既知の問題]
##	   ・IE6/7でタブオープン時にObjectError。→たぶん解決
##	
	var menu, tab, msg;
	var menuTitle;
	var tabMaxRight = 160;
	var bottomFix   = 32;
	var resizeElement = [];
	var currentDate   = '';
	var userId = '$sessionUserInfo.userId';
	var userName = '$sessionUserInfo.userName';
	var groupName  = '$sessionUserInfo.groupName';
	var tabTitle = [
#foreach( $title in $tabTitleList )
	#if($velocityCount!=1) , #end
	'$title'
#end
	];
	var menuInfo = [
#foreach( $service in $menuInfo )
	#if($velocityCount!=1) , #end
		{title:'$service.get('title')',	link:'${service.get('link')}?u=$sessionUserInfo.encryptUserId&p=$sessionUserInfo.encryptPassword'}
#end
	];
	// var menuHeight  = 26 * (menuInfo.length + 1) + 1;
	## window load 時の処理
	Event.observe(document, 'dom:loaded', function() {
		try {
			## [アラート] オブジェクト生成
			if (typeof(lsg.SimpleMsg) != 'undefined') {
				msg = new lsg.SimpleMsg();
				ls.onException = function(response){
					msg.error(response.__exception);
				}
			}
			if (ls.isMSIE6()) {
				bottomFix = bottomFix + 3;
			}
			## 今日の日付
			var _date = new Date();
			var _y = _date.getFullYear().toString();
			var _m = ((_date.getMonth() + 1) < 10) ? ('0' + (_date.getMonth() + 1)) : (_date.getMonth() + 1).toString();
			var _d = (_date.getDate() < 10) ? ('0' + _date.getDate()) : _date.getDate().toString();
			currentDate = (_y + '/' + _m + '/' + _d);
			## ヘッダ、フッタを追加
			if (!ls.isPopup()) {
				var _header =
					'	<div id="ls_header">' +
					##'		<a class="btn_back" href="javascript:void(0);" title="前の画面に戻る"></a>' +
					'		<div id="menu_container" class="menu_container">' +
					'			<span class="menu_text"id="menu_txt"></span>' +
					'			<span class="menu_btn" id="menu_btn" title="メニューを表示する"></span>' +
					'		</div>' +
					'		<a class="btn_ptab" href="javascript:void(0);" title="前のタブを表示する" onclick="tab.prev();"></a>' +
					'		<div id="main_tab_menu" class="lsTabMenu"></div>' +
					'		<a class="btn_ntab" href="javascript:void(0);" title="次のタブを表示する" onclick="tab.next();"></a>' +
					'		<a id="ls_header_logo" href="http://www.littlesoft.jp/" target="_blank"></a>' +
					'	</div>';
		    	new Insertion.Top($('ls_container'), _header);
				var _footer =
					'	<div id="ls_footer">' +
					'		<div id="login_info">' +
					'			<marquee id="login_info_text" scrolldelay="100">[ ' + dateFormat(currentDate) + ' ] ' + userName + ' さんが ログイン中．．．</marquee>' +
					'		</div>' +
					'		<div id="ls_footer_copy">Copyright (C) 2010 LittleSoft Corporation. All Rights Reserved. </div>' +
					'	</div>';
		    	new Insertion.Bottom($('ls_container'), _footer);
		    }
			## リサイズマネージャー オブジェクト生成
			if (!ls.isPopup()) {
				new ls.ResizeManager({minWidth:700, minHeight:500, timer:25});
				ls.ResizeInstance.setAnchor('ls_container', {bottom: 0, right: 0});
				ls.ResizeInstance.setAnchor('ls_contents',  {bottom: bottomFix, right: 0});
				ls.ResizeInstance.setAnchor('main_tab',     {bottom: bottomFix});
				ls.ResizeInstance.setAnchor('main_tab_menu',{right: tabMaxRight});
			}
			## リサイズ設定
			for (var i = 0; i < resizeElement.length; i++) {
				var _arr = resizeElement[i];
				ls.ResizeInstance.setAnchor(_arr[0], _arr[1]);
			}
			## メニューを生成 
			menu = new lsg.SelectableMenu('menu_btn', 'menu_txt', {
			  //menuItemSize  : (menuInfo.length + 1) 
			  menuItemSize  : (menuInfo.length) 
			 ,menuItemWidth : $('menu_container').getWidth()
			});
			for (var i = 0; i < menuInfo.length; i++) {
				menu.add(menuInfo[i].title, menuInfo[i].link);
			}
			//menu.add(null);
			//menu.add('ログアウト', 'ls.exec(\'doLogout\');');
			## メニュータイトル
			menuTitle = menuInfo[$menuInfoIndex].title;
			## メニュー名を設定
			setMenuName(tabTitle[$initialTabIndex]);
			## [タブコンテナ] オブジェクトを生成
			tab = new lsg.TabContainer('main_tab_menu', 'main_tab', {tabs: tabTitle, defaultTab: $initialTabIndex, onTabClick: onMainTabClick, maxRight: tabMaxRight});
			## コールバック
			windowLoaded();
		}
		catch(e) {
			alert(e);
		}
	});
	## ダミー関数
	function windowLoaded() {}
	function mainTabClick(index) {}
	## タブがクリックされた際にコールバックされるファンクション
	var onMainTabClick = function(index) {
		## メニュー名を設定
		setMenuName(tabTitle[index]);
		## リサイズ再設定
		ls.ResizeInstance._updateBounds(true);
		## コールバック
		mainTabClick(index);
	}
	## メニューラベル設定
	function setMenuName(name) {
		menu.setText(menuTitle + '&nbsp;[&nbsp;' + name + '&nbsp;]&nbsp;');
	}
	## 日付フォーマット
	function dateFormat(date) {
		var _date = (date.length == 7) ? (date.replace('/', '年') + '月') : (date.replace('/', '年').replace('/', '月') + '日');
		return _date;
	}
	## 強制リロード
	function forceReload() {
		ls.exec('doLogout');
	}
	## メニュークラス定義
	if (!ls.isPopup()) {
		lsg.SelectableMenu = Class.create({
			initialize: function(id, text_id, options) {
				this.id = id;
				this.text = $(text_id);
				this.options = Object.extend({
           menuItemSize :  2
          ,menuItemWidth    :  120 
				  ,borderColor  :  '#009B9B'
				} , options);
        //this.menuHeight = ((this.options.menuItemSize)*26+1);
        this.menuHeight = ((this.options.menuItemSize)*26);
				this._seq = 0;
        var _src = '';
        if (ls.isMSIE6()) {
          _src = 'src="/?scid=dummy.htm"';
        }
				new Insertion.Bottom($('menu_container'),
					'<div id="' + id + '_menu_wrapper" style="top:30px;left:5px;position:absolute;height:0px;overflow:hidden;border:1px solid ' + this.options.borderColor + ';" class="lsSelectableMenu"></div>'+
					'<iframe ' + _src + ' id="' + id + '_menu_floating_frame" class="lsSelectableMenuFrame" name="_menu_floating_frame" frameborder="0" marginwidth="0" marginheight="0" style="top:34px;position:absolute;"></iframe>'
				);
				this._menu_btn  = $(id);
				this._menu_wrapper = $(id + '_menu_wrapper');
				this._menuframe    = $(id + '_menu_floating_frame');
				var _eventTarget = (Prototype.Browser.IE) ? window.document : window;
				Event.observe(_eventTarget, "click", this._onClick.bindAsEventListener(this));
				this._menuframe.setOpacity(0.5);
				this._menuframe.hide();
				this._menu_wrapper.hide();
				this._menuAnim = new Animator({transition: Animator.makeEaseOut(2),duration: 250, onComplete: this._onComplete.bind(this)});
				this._menuAnim.addSubject(new NumericalStyleSubject(this._menu_wrapper, 'height', 0, this.menuHeight));
			},
			_onComplete: function() {
				if (this._menu_wrapper.getHeight() > 2) {
					//var _o = this._menu_wrapper.cumulativeOffset();
					//this._menuframe.setStyle({
					//	 'top'   : ((_o.top) + 'px')
					//	,'left'  : ((_o.left - 2) + 'px')
					//	,'width' : ((this._menu_wrapper.getWidth()+4) + 'px')
					//	,'height': ((this._menu_wrapper.getHeight()+2) + 'px')
					//});
					//this._menuframe.show();
					this._menuframe.setOpacity(0.5);
				}
				else {
					this._menuframe.hide();
				}
			},
			add: function(title, action) {
				if (title == null) {
					new Insertion.Bottom(this._menu_wrapper, '<div class="sep"></div>');
				}
				else {
					var _id = this.id + '_' + this._seq++;
					var _loc = '';
					if (action) {
            if (action.indexOf('javascript:') == 0) {
              new Insertion.Bottom(this._menu_wrapper, '<a id="' + _id + '"class="menu_link" href="' + action + '">' + title + '</a>');
              return;
						} else if (action.indexOf('http://') == 0 || action.indexOf('https://') == 0) {
							_loc = 'location.href=\''+action+'\';';
						} else {
							_loc = action;
						}
					}
					new Insertion.Bottom(this._menu_wrapper, '<a id="' + _id + '"class="menu_link" href="javascript:void(0);" onclick="' + _loc + ' return false;">' + title + '</a>');
				}
			},
			_onClick: function(event) {
				var _e = Event.element(event);
				if (_e == this._menu_btn) {
					if (this._menu_wrapper.getHeight() > 2) {
						if (this.options.isButtonDropdown) {
						  this._menuframe.hide();
						  this._menu_wrapper.hide();
						}
						this._menuframe.setOpacity(0.0);
						this._menuAnim.reverse();
					}
					else {
						//if (this.options.menuItemWidth > this._menu_wrapper.getWidth()) {
							this._menu_wrapper.setStyle({
								'width' : (this.options.menuItemWidth + 'px')
							});
						//}
						if (this.options.isButtonDropdown) {
              var _b = this._menu_btn.cumulativeOffset();
              this._menu_wrapper.setStyle({
                'top'   : ((_b.top + this._menu_btn.offsetHeight + 2) + 'px')
               ,'left'  : ((_b.left + 2) + 'px') 
              });
						}
						if (!this._menu_wrapper.visible()) this._menu_wrapper.show();
						var _o = this._menu_wrapper.cumulativeOffset();
						this._menuframe.show();
						this._menuframe.setOpacity(0);
						this._menuframe.setStyle({
							 'top'   : ((_o.top) + 'px')
							,'left'  : ((_o.left - 2) + 'px')
							,'width' : ((this._menu_wrapper.getWidth()+4) + 'px')
							,'height': ((this.menuHeight+2) + 'px')
						});
						this._menuAnim.play();
					}
				}
				else {
					if (this._menu_wrapper.getHeight() > 2) {
            if (this.options.isButtonDropdown) {
              this._menuframe.hide();
              this._menu_wrapper.hide();
            }
						this._menuframe.setOpacity(0.0);
						this._menuAnim.reverse();
					}
				}
			},
			setText: function(text) {
				this.text.update(text);
			}
		});
	}
	//-->
	</script>
